<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
  <script type="text/javascript">(function() { var a=window;function b(){this.t={};this.tick=function(e,f){this.t[e]=[(new Date).getTime(),f]};this.tick("start")}var c=new b;a.jstiming={Timer:b,load:c};if(a.external&&a.external.pageT)a.jstiming.pt=a.external.pageT;var d=false;function g(){if(!d){d=true;a.jstiming.load.tick("firstScrollTime")}}a.addEventListener?a.addEventListener("scroll",g,false):a.attachEvent("onscroll",g); })();</script>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <meta content='true' name='MSSmartTagsPreventParsing'/>
  <meta content='blogger' name='generator'/>
  <link href='http://www.blogger.com/favicon.ico' rel='icon' type='image/vnd.microsoft.icon'/>
  <link rel="alternate" type="application/atom+xml" title="Ignite Corvallis - Atom" href="http://ignitecorvallis.com/feeds/posts/default" />
  <link rel="alternate" type="application/rss+xml" title="Ignite Corvallis - RSS" href="http://ignitecorvallis.com/feeds/posts/default?alt=rss" />
  <link rel="service.post" type="application/atom+xml" title="Ignite Corvallis - Atom" href="http://www.blogger.com/feeds/7246667325625199617/posts/default" />
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.blogger.com/rsd.g?blogID=7246667325625199617" />
  <link rel="openid.server" href="http://www.blogger.com/openid-server.g" />

  <title>Ignite Corvallis</title>

  <link type='text/css' rel='stylesheet' href='http://www.blogger.com/widgets/3825235830-widget_css_bundle.css' /> <link rel="stylesheet" type="text/css" href="http://www.blogger.com/v-css/3727950723-blog_controls.css"/>
  <link rel="stylesheet" type="text/css" href="http://www.blogger.com/dyn-css/authorization.css?targetBlogID=7246667325625199617&zx=0c8e353b-24b4-451a-836e-0a5840034e44"/>
  <link href="../stylesheets/blogger.css" media="screen" rel="Stylesheet" type="text/css" />
  <style type="text/css">#navbar-iframe { display:block }
  </style>

</head>
<body>
<div class='navbar section' id='navbar'>
  <div class='widget Navbar' id='Navbar1'>
    <script type="text/javascript">
      function setAttributeOnload(object, attribute, val) {
        if(window.addEventListener) {
          window.addEventListener("load",
            function(){ object[attribute] = val; }, false);
        } else {
          window.attachEvent('onload', function(){ object[attribute] = val; });
        }
      }
    </script>
    <iframe src="http://www.blogger.com/navbar.g?targetBlogID=7246667325625199617&amp;blogName=Ignite+Corvallis&amp;publishMode=PUBLISH_MODE_HOSTED&amp;navbarType=TAN&amp;layoutType=LAYOUTS&amp;homepageUrl=http%3A%2F%2Fignitecorvallis.com%2F&amp;searchRoot=http%3A%2F%2Fignitecorvallis.com%2Fsearch" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" height="30px" width="100%" id="navbar-iframe" title="Blogger Navigation and Search"></iframe>
    <div></div>
  </div>
</div>
<div id='outer-wrapper'>
  <div id='wrap2'>
  <!-- skip links for text browsers -->
  <span id='skiplinks' style='display:none;'>
  <a href='#main'>skip to main </a> |
        <a href='#sidebar'>skip to sidebar</a>
  </span>
  <div id='header-wrapper'>
    <div class='header section' id='header'>
      <div class='widget Header' id='Header1'>
        <div id='header-inner' style='background-image: url("http://3.bp.blogspot.com/__DzYR3a_gKY/SXbkqPmOGsI/AAAAAAAAC7Y/cV2K4nVBrY8/S1600-R/header_ignite2.jpg"); background-repeat: no-repeat; width: 950px; height: 217px;'>
          <div class='titlewrapper' style='background: transparent'>
            <h1 class='title' style='background: transparent; border-width: 0px'>
            </h1>
            <p class='description'><span></span></p>
          </div>
        </div>
    </div>
  </div>
  <div id='menu'>
      <ul>
      <li><a href='http://ignitecorvallis.com/2008/10/what-is-ignite.html'>About</a></li>
      <li><a href='http://ignitecorvallis.com/search/label/video%20examples'>Presentations</a></li>
      <li><a href='#'>Submit</a></li>
      <li><a href='http://ignitecorvallis.com/feeds/posts/default'>Posts RSS</a></li>
      </ul>
  </div>
</div>
<div id='content-wrapper'>
  <div id='crosscol-wrapper' style='text-align:center'>
    <div class='crosscol section' id='crosscol'></div>
  </div>
  <div id='main-wrapper'>
    <div class='main section' id='main'><div class='widget Blog' id='Blog1'>
      <div class='blog-posts hfeed'>
        <!-- google_ad_section_start -->
        <div class='post hentry uncustomized-post-template'>
        <h3 class='post-title entry-title'>
          Ignite Corvallis Proposals
        </h3>
        </div>
        <!-- google_ad_section_end -->
      </div>
    </div>
  </div>
</div>
<div id='sidebar-wrapper'>
  <div class='sidebar section' id='sidebar'>
    <div class='widget Feed' id='Feed2'>
      <h2>Login as</h2>
        <div class='widget-content'>
          <ul id='Feed2_feedItemListDisplay'>
            <li>
            <span class='item-title'>
            User login
            </span>
            </li>
          </ul>
        </div>
        <div class='widget Feed' id='Feed1'>
      </div>
    </div>
  </div>
</div>
<!-- <div id='sidebar-wrapper2'> <b:section class='sidebar2' id='sidebar3' preferred='yes' showaddelement='yes'/> </div> -->
<!-- spacer for skins that want sidebar and main to be the same height-->
<!-- end content-wrapper -->
<div id='footer-wrapper'>
<div class='footer section' id='footer'></div>
<a href='http://ignitecorvallis.com/'>Ignite Corvallis</a> &#169; 2008 | Design Customized by <a href='http://www.proworks.com'>ProWorks</a>
</div>
</div></div>
<!-- end outer-wrapper -->
</body>
</html>
